<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="Client"
        android:roundIcon="@drawable/advance_payment"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        android:largeHeap="true"
        <activity android:name=".ViewInvoice"></activity>
        <activity android:name=".RequestDetails" />
        <activity android:name=".ViewAllRequests" />
        <activity android:name=".UploadInvoiceActivity" />
        <activity android:name=".ViewTransactionsActivity" />
        <activity android:name=".DueActivity" />
        <activity android:name=".ViewMain" />
        <activity android:name=".EditMonth" />
        <activity android:name=".ViewMonths" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>